/* здесь используйте глобальные переменные */
$primary-color: #444444;
$secondary-color: #000000;
$special-color: #68b738;
$lighter-color: #ffffff;

$icons-primary: #666666;
$icons-hover: #68b738;

$background-primary: #ffffff;
$background-special: #68b738;
$background-button-hover: #5eaa2f;
$background-secondary: #eaeaea;

$mobile-width: 320px;
$tablet-width: 768px;
$max-tablet-width: 1439px;
$desktop-width: 1440px;
