.adverts {
  margin-top: 82px;
}
.adverts .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
}

.advert-card {
  display: flex;
  flex-direction: column;
  gap: 39px;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f2f2f2;
  max-width: 570px;
  width: 100%;
  padding: 41px 61px 55px 52px;
  color: $secondary-color;
}
.advert-card__top {
  display: flex;
  gap: 62px;
  align-items: center;
  justify-content: flex-start;
}
.advert-card__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
}
.advert-card__heading {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.advert-card__link {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}
