.header {
  padding: 13px 21px 14px 20px;
  @media (min-width: $tablet-width) {
    padding: 25px 34px 0 30px;
  }
  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__menu {
  display: none;
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.header__menu-button {
  display: block;
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__link {
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald";
  color: $secondary-color;
  text-transform: uppercase;
  text-decoration: none;
  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
  @media (min-width: $desktop-width) {
    color: $lighter-color;
    font-size: 20px;
    line-height: 30px;
  }
}
.header__link--current {
  text-decoration: underline;
  text-decoration-color: $special-color;
  text-decoration-thickness: 2px;
  text-underline-position: under;
  text-underline-offset: 8px;
  @media (min-width: $desktop-width) {
    text-decoration-color: $background-primary;
  }
}
